# Entornos virtuales
.env
.envj
.venv
.venvj
env/
envj/
venv/
venvj/
ENV/
ENVJ/
env.bak/
envj.bak/
venv.bak/
venvj.bak/
/microservices/.venvj/
/microservices/.venv/
/microservices/gateway_service/.venv/
/microservices/authentication_service/.venv/
/microservices/log_service/.venv/
/microservices/prediction_service/.venv/